<div class="header">
    <h3><%=title %></h3>
    <ul>
        <li>
            <a href="/home">News</a>
        </li>
        <li>
            <a href="/event">Events</a>
        </li>
    </ul>
</div>
