@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
    font-family: 'Secular One', sans-serif;;
}

.container{
    width:100%;
}
.section-data{
    line-height: 1.8;
    padding:1rem;
    box-shadow: 0 0 10px -4px;
    margin-bottom: 1rem;
    background-color: #FFF;
}
.section-data >p{
    line-height: 2;
    font-size: 14px;
}

.btn-primary{
    padding:.8rem 1.5rem;
    border:none;
    border-radius: 4px;
    background-color: rgb(24, 46, 92);
    color:#FFF;
    cursor: pointer;
}


.btn-primary:hover{
    background-color: rgb(41, 66, 121);
}
.header{
    padding:.4rem 2rem;
    height: 10vh;
    border-bottom: 1px solid #ccc;
    display:flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width:100%;
    height:10vh;
    background-color: #FFF;
}

ul{
    list-style: none;
    display: flex;
}

ul li{
    margin-right: 1rem;
}

a{
    text-decoration: none;
    color:#333;
}
.main{
    display:flex;
    justify-content: space-around;
    /* align-items: center; */
    min-height: 70vh;
    width:100%;
    padding: 12vh 1rem;
    background-color: rgb(250, 243, 243);
}

.date{
    color:#666;
}

.form-control{
    margin-bottom:1rem;
    width: 100%;
}

.footer{
    padding:2rem ;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer p{
    line-height: 2;
}

a{
    text-decoration:none;
}

label{
    line-height:2;
    display: block;
}
input{
    padding:.7rem 1rem;
    outline: none;
    width:100%;
    border-radius: 3px;
    border:1px solid #ccc;
    background:rgb(248, 244, 244);    
}

textarea{
    width:100%;
    min-height: 4rem;
    outline: none;
    padding:.3rem
}

.login{
    width:30%;
    background: #FFF;
}

.post-form{
    width:50%;
    background: #FFF;
}

.latest-news{
    margin-left: 1rem;
    max-height: 88vh;
    overflow-y: auto;
    padding: 1rem;
}

.section-footer{
    border-top:1px solid #ccc;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top:.6rem;
    padding:.3rem;
}

.btn-delete{
    border:none;
    background:red;
    cursor: pointer;
    padding:.3rem .7rem;
    color:#FFF;
    border-radius: 3px;
}

.btn-delete:hover{
    background-color: rgb(190, 55, 55);
}
.section-data{
    width: 400px;
}
@media screen and (max-width:768px){
    .main{
        width:100%;
        flex-direction: column;
        /* padding:1rem; */
        min-height: 100vh;
        padding: 2rem 0;


    }

.post-form{
    width:100%;
    padding: 0 1rem;
    margin-top: 3rem;
}

.section-data{
    width:100%;
}
    .login{
        width:100%;
        padding:1rem 2rem;
    }

    .latest-news{
        margin-top: 1rem;
    }
}